services:
  _defaults:
    public: false
    autowire: true
    autoconfigure: true
    bind:
      string $projectDir: '%kernel.project_dir%'
      $settingsRouter: '@Helis\SettingsManagerBundle\Settings\SettingsRouter'

  harmony.theme.theme_locator:
    class: Harmony\Bundle\ThemeBundle\Locator\ThemeLocator
  Harmony\Bundle\ThemeBundle\Locator\ThemeLocator: '@harmony.theme.theme_locator'

  harmony.theme.theme_resolver:
    class: Harmony\Bundle\ThemeBundle\Services\ThemeResolver
  Harmony\Bundle\ThemeBundle\Services\ThemeResolver: '@harmony.theme.theme_resolver'

  liip_theme.active_theme:
    class: Harmony\Bundle\ThemeBundle\ActiveTheme
    arguments:
      - "@=service('harmony.theme.theme_resolver').getActiveTheme()"
      - '%liip_theme.themes%'
      - '@liip_theme.theme_auto_detect'
      - '@harmony.theme.theme_locator'
  Harmony\Bundle\ThemeBundle\ActiveTheme: '@liip_theme.active_theme'

  harmony.theme.twig.extension:
    class: Harmony\Bundle\ThemeBundle\Twig\Extension
  Harmony\Bundle\ThemeBundle\Twig\Extension: '@harmony.theme.twig.extension'

  twig.extension.assets:
    class: Harmony\Bundle\ThemeBundle\Twig\AssetsExtension
  Harmony\Bundle\ThemeBundle\Twig\AssetsExtension: '@twig.extension.assets'

  Harmony\Bundle\ThemeBundle\Command\ThemeAssetsInstallCommand: ~