services:
    _defaults:
        public: false
        autowire: true
        autoconfigure: true
        bind:
            string $projectDir: '%kernel.project_dir%'
            $activeTheme: '@liip_theme.active_theme'

    twig.extension.assets:
        class: Harmony\Bundle\ThemeBundle\Twig\AssetsExtension
    Harmony\Bundle\ThemeBundle\Twig\AssetsExtension: '@twig.extension.assets'

    Harmony\Bundle\ThemeBundle\Command\ThemeAssetsInstallCommand: ~

    liip_theme.theme_request_listener:
        class: Harmony\Bundle\ThemeBundle\EventListener\ThemeRequestListener
        arguments:
            $builder: '@rollerworks_route_autowiring.routing_slot.main'
            $defaultTheme: '%harmony.theme_default%'
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }
    Harmony\Bundle\ThemeBundle\EventListener\ThemeRequestListener: '@liip_theme.theme_request_listener'

    twig.loader.filesystem:
        class: Harmony\Bundle\ThemeBundle\Twig\Loader\FilesystemLoader
        arguments:
            $locator: '@liip_theme.templating_locator'
            $parser: '@templating.filename_parser'
            $defaultTheme: '%harmony.theme_default%'
    Harmony\Bundle\ThemeBundle\Twig\Loader\FilesystemLoader: '@twig.loader.filesystem'

    liip_theme.file_locator:
        class: Harmony\Bundle\ThemeBundle\Locator\FileLocator
        arguments:
            $pathPatterns: '%liip_theme.path_patterns%'
    Harmony\Bundle\ThemeBundle\Locator\FileLocator: '@liip_theme.file_locator'