services:
  harmony.theme.theme_locator:
    class: Harmony\Bundle\ThemeBundle\Locator\ThemeLocator
    arguments: ['%kernel.project_dir%', '@jms_serializer']

  harmony.theme.theme_resolver:
    class: Harmony\Bundle\ThemeBundle\Services\ThemeResolver
    arguments: ['@Helis\SettingsManagerBundle\Settings\SettingsRouter']

  liip_theme.active_theme:
    class: Harmony\Bundle\ThemeBundle\ActiveTheme
    arguments:
      - "@=service('harmony.theme.theme_resolver').getActiveTheme()"
      - '%liip_theme.themes%'
      - '@liip_theme.theme_auto_detect'
      - '@harmony.theme.theme_locator'

  harmony.theme.twig.extension:
    class: Harmony\Bundle\ThemeBundle\Twig\Extension
    arguments: ['@assets.packages', '@liip_theme.active_theme', '@Helis\SettingsManagerBundle\Settings\SettingsRouter']
    public: false
    tags:
      - { name: twig.extension }

  twig.extension.assets:
    class:     Harmony\Bundle\ThemeBundle\Twig\AssetsExtension
    arguments: ['@assets.packages', '@liip_theme.active_theme', '%kernel.project_dir%']
    public: false
    tags:
      - { name: twig.extension }

  Harmony\Bundle\ThemeBundle\Command\ThemeAssetsInstallCommand:
    arguments: ['@?', '@filesystem', '@liip_theme.active_theme', '%kernel.project_dir%']
    tags:
      - { name: console.command }