services:
  _defaults:
    public: false
    autowire: true
    autoconfigure: true
    bind:
      string $projectDir: '%kernel.project_dir%'
      $settingsRouter: '@Helis\SettingsManagerBundle\Settings\SettingsRouter'
      $activeTheme: '@liip_theme.active_theme'

  harmony.theme.twig.extension:
    class: Harmony\Bundle\ThemeBundle\Twig\Extension
  Harmony\Bundle\ThemeBundle\Twig\Extension: '@harmony.theme.twig.extension'

  twig.extension.assets:
    class: Harmony\Bundle\ThemeBundle\Twig\AssetsExtension
  Harmony\Bundle\ThemeBundle\Twig\AssetsExtension: '@twig.extension.assets'

  Harmony\Bundle\ThemeBundle\Command\ThemeAssetsInstallCommand: ~

  liip_theme.theme_request_listener:
    class: Harmony\Bundle\ThemeBundle\EventListener\ThemeRequestListener
    tags:
      - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }
  Harmony\Bundle\ThemeBundle\EventListener\ThemeRequestListener: '@liip_theme.theme_request_listener'